<div class=" header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <h6 class=" h2 d-inline-block mb-0">Novo Cálculo</h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> Meus Cálculos </a>
                </li>
  
                <li aria-current="page" class=" breadcrumb-item active">
                  Novo Cálculo
                </li>
              </ol>
            </nav>
          </div>
  
          
        </div>
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
  
    <div class=" card-deck flex-column flex-xl-row">
      
  
      <div class=" card ">
        <div class=" card-header bg-danger"><h5 class="  text-white h3 mb-0">Tributário</h5></div>
  
        <div class=" card-body p-0">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <a [routerLink]="['/aplicacao/calculos/tusdicms']">
              <li
            
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-danger">
                <div class=" checklist-danger">
                  <h5 class=" checklist-title mb-0">ICMS Sobre TUSD/TUST</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-danger"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>
            </a>

            <a [routerLink]="['/aplicacao/calculos/piscofinsicmsenergia']">
              <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-danger">
                <div class=" checklist-danger">
                  <h5 class=" checklist-title mb-0">ICMS sobre Pis/Cofins na Energia</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-danger"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>
            </a>


            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-danger">
                <div class=" checklist-danger">
                  <h5 class=" checklist-title mb-0">ISS Sobre PIS/COFINS</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-danger"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>



      <div class=" card ">
        <div class=" card-header bg-warning"><h5 class="  text-white h3 mb-0">Trabalhista</h5></div>
  
        <div class=" card-body p-0 ">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-warning">
                <div class=" checklist-warning">
                  <h5 class=" checklist-title mb-0">Rescisão</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-warning"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-warning">
                <div class=" checklist-warning">
                  <h5 class=" checklist-title mb-0">FGTS</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-warning"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-warning">
                <div class=" checklist-warning">
                  <h5 class=" checklist-title mb-0">Seguro Desemprego</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-warning"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>



      <div class=" card ">
        <div class=" card-header bg-success"><h5 class="  text-white h3 mb-0">Previdenciário</h5></div>
  
        <div class=" card-body p-0 ">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-success">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Tempo de Contribuição</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-success"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-success">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Salário de Benefício</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-success"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>



            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-success">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Tempo de Contribuição</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-success"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>

            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-success">
                <div class=" checklist-info">
                  <h5 class=" checklist-title mb-0">Revisão</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-success"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>






          </ul>
        </div>
      </div>
    </div>







    <div class=" card-deck flex-column flex-xl-row">



      
      
  
      <div class=" card ">
        <div class=" card-header bg-dark"><h5 class="  text-white h3 mb-0">Bancário</h5></div>
  
        <div class=" card-body p-0">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <li
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-dark">
                <div class=" checklist-dark">
                  <h5 class=" checklist-title mb-0">Revisão Financiamento</h5>
  
                  <small> metodologia </small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-dark"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>


            <li
            class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
          >
            <div class=" checklist-item checklist-item-dark">
              <div class=" checklist-dark">
                <h5 class=" checklist-title mb-0">Revisão PASEP</h5>

                <small> metodologia </small>
              </div>

              <div>
                <div
                  class=" custom-control custom-checkbox custom-checkbox-dark"
                >
                  <input
                    checked="checked"
                    class=" custom-control-input"
                    id="chk-todo-task-1"
                    type="checkbox"
                  />

                  <label class=" custom-control-label" for="chk-todo-task-1">
                  </label>
                </div>
              </div>
            </div>
          </li>


          <li
          class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
        >
          <div class=" checklist-item checklist-item-dark">
            <div class=" checklist-dark">
              <h5 class=" checklist-title mb-0">Revisão FGTS</h5>

              <small> metodologia </small>
            </div>

            <div>
              <div
                class=" custom-control custom-checkbox custom-checkbox-dark"
              >
                <input
                  checked="checked"
                  class=" custom-control-input"
                  id="chk-todo-task-1"
                  type="checkbox"
                />

                <label class=" custom-control-label" for="chk-todo-task-1">
                </label>
              </div>
            </div>
          </div>
        </li>


          </ul>
        </div>
      </div>



      <div class=" card ">
        <div class=" card-header bg-primary"><h5 class="  text-white h3 mb-0">Atualização Monetária</h5></div>
  
        <div class=" card-body p-0 ">
          <ul class=" list-group list-group-flush" data-toggle="checklist">
            <li
              
              class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
            >
              <div class=" checklist-item checklist-item-primary">
                <div class=" checklist-primary">
                  <h5 class=" checklist-title mb-0">Liquidação de Sentença</h5>
  
                  <small> Metodologia</small>
                </div>
  
                <div>
                  <div
                    class=" custom-control custom-checkbox custom-checkbox-primary"
                  >
                    <input
                      checked="checked"
                      class=" custom-control-input"
                      id="chk-todo-task-1"
                      type="checkbox"
                    />
  
                    <label class=" custom-control-label" for="chk-todo-task-1">
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>






      <div class=" card bg-transparent ">
        
      </div>



      
    </div>





  </div>
  