<div class=" header bg-danger pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-12 col-12">
            <h6 class=" h2 text-white d-inline-block mb-0">ICMS sobre Pis/Cofins na fatura de Energia</h6>
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> Cálculos </a>
                </li>
  
                <li aria-current="page" class=" breadcrumb-item active">
                  ICMS sobre Pis/Cofins na fatura de Energia
                </li>
              </ol>
            </nav>
          </div>
  
          
        </div>
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col-lg-12">
        <div class=" card">
          <div class=" card-header bg-transparent">
            <h3 class=" mb-0">Novo Cálculo</h3>
          </div>
  
          <div class=" card-body">
            <div
              class=" timeline timeline-one-side"
              data-timeline-axis-style="dashed"
              data-timeline-content="axis"
              style="width: 100%;"
            >
            <div *ngIf="aguardeVisivel" class=" timeline-block">
              <span class=" timeline-step badge-success">
                <i class="fas fa-clock"> </i>
              </span>

              <div class=" timeline-content">
                <small class=" text-muted font-weight-bold"> Aguarde... </small>
  
                
              </div>
            </div>
              <div *ngIf="passo1Visivel" class=" timeline-block">
                <span class=" timeline-step badge-success">
                  <i class=" ni ni-folder-17"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold"> Passo 1 </small>
  
                  <h5 class=" mt-3 mb-0">Importação de faturas</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    Selecione  os arquivos de fatura em PDF para importação do sistema.
                  </p>

                  <div class=" card-body">
                    <input
                    style="display: none"
                    type="file"
                    #fileInput
                    multiple="multiple"
                    (change)="selecionarArquivo($event)"
                    />
                    <button type="button" (click)="showFileDialog()" class="btn btn-primary" id="btn_selecionarArquivos">
                        Selecionar arquivos
                    </button>
                    <button type="button" (click)="portalEquatorial()" class="btn btn-primary" id="btn_selecionarArquivos">
                        Portal da distribuidora
                    </button>
                    
                  </div>
  
                  <div class=" mt-3">
                   

                  </div>
                </div>
              </div>
  
              <div *ngIf="passo2Visivel" class=" timeline-block">
                <span class=" timeline-step badge-info">
                  <i class=" ni ni-single-copy-04"> </i>
                </span>
  
                <div class=" timeline-content">
                  <small class=" text-muted font-weight-bold"> Passo 2 </small>
                  <div class=" col-lg-12 col-5 text-right">
                    <button class=" btn btn-sm btn-primary" href="javascript:void(0)" (click)="gerarRelatorio()"> Tudo ok! Gerar relatório</button>
                  </div>
  
                  <h5 class=" mt-3 mb-0">Faturas Importadas</h5>
  
                  <p class=" text-sm mt-1 mb-0">
                    Algumas informações podem não ter sido lidas. Aqui você pode verificar as faturas que foram importadas e corrigir caso sinta falta de algum campo
                  </p>
                  
                  <div>
                    <div class="dataTables_wrapper py-4">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          
                        </div>
                        <div class="col-sm-12 col-md-6">
                          
                        </div>
                      </div>
            
                      <ngx-datatable
                        class="bootstrap selection-cell"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="entries != -1 ? entries : undefined"
                        [rows]="temp"
                        (activate)="onActivate($event)"
                      >
                        <ngx-datatable-column name="dataEmissao"></ngx-datatable-column>
                        <ngx-datatable-column name="contaReferenteMes"></ngx-datatable-column>
                        <ngx-datatable-column name="totalPagar"></ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                </div>
              </div>


              <div *ngIf="passo3Visivel" class=" timeline-block  ">
                <span class=" timeline-step badge-info">
                  <i class=" ni ni-single-copy-04"> </i>
                </span>
  
                <div class=" timeline-content" style="max-width: 1000px;">
                  <small class=" text-muted font-weight-bold"> Concluído </small>

                  <h5 class=" mt-3 mb-0">Relatório</h5>
  
                  <div>
                    <p class=" text-sm mt-1 mb-0">
                      Pronto. Seu relatório já está disponível para visualização e download.
                    </p>
                  </div>
                  
                  <div class=" col-lg-12 col-5 text-right">
                    <button class=" btn btn-sm btn-primary" href="javascript:void(0)" (click)="gerarPDF()"> Baixar relatório</button>
                  </div>


                  <div *ngIf="relatorioVisivel" id="quadrorelatorio">
                    <div class="" >
                      <div class=" card-body pt-0">
                      

                        <div class=" text-center">
                          
                          <div>
                            <i class=" ni education_hat mr-2"> </i> Relatório de Remoção do Pis e Cofins da Formação da Base de Cálculo para cobrança do ICMS
                          </div>
                          <h5 class=" h3">
                            Cliente {{relatorio.cliente}}
                          </h5>
  
                          <div class=" h5 font-weight-300">
                            Período de {{relatorio.inicioPeriodo | date: 'MM/yyyy'}} a {{ relatorio.fimPeriodo | date: 'MM/yyyy'}}
                          </div>
  
                         
                        </div>
                      </div>
                      <div class=" row">
                        <div class=" col">
                          <div class=" card-profile-stats d-flex justify-content-center">
                            <div>
                              <span class=" heading">{{relatorio.resultado | currency}} </span>
  
                              <span class=""> Resultado </span>
                            </div>
  
                            <div>
                              <span class=" heading"> {{ relatorio.totalFaturas }}</span>
  
                              <span> Faturas </span>
                            </div>
  
                            
                          </div>
                        </div>
                      </div>
                    </div>
  
  
                    <div>
                      <div class="dataTables_wrapper py-4">
                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            
                          </div>
                          <div class="col-sm-12 col-md-6">
                            
                          </div>
                        </div>
              
                        <div class=" table-responsive">
                          <table class="table tablesm align-items-center table-flush">
                            <thead class=" ">

    
                              <tr>
                                <th >Competência</th>

                                <th >ICMS (R$)</th>
                
                                <th  >Base ICMS (R$)</th>

                                <th  >Pis (R$)</th>

                                <th  >Cofins (R$)</th>
                
                                <th  >Base ICMS sem Pis/Cofins (R$)</th>
                
                                <th  >IPCA (%)</th>
  
                                <th >Correção ICMS (R$)</th>
                
                
                                <th scope="col"></th>
                              </tr>
                            </thead>
                
                            <tbody class=" list">
                              <tr *ngFor="let remocao of relatorio.remocoes">
                                <td >{{remocao.competencia | date: 'MM/yyyy'}}</td>
                
                                <td>{{remocao.icms | currency}}</td>
  
                                <td>{{remocao.icmsBaseCalculo | currency}}</td>
  
                                <td>{{remocao.pis | currency}}</td>
  
                                <td>{{remocao.cofins | currency}}</td>

                                <td>{{remocao.baseCalculoICMSSemPISCOFINS | currency}}</td>

                                <td>{{remocao.indiceCorrecaoMonetariaAcumulado | number:'1.2'}} %</td>

                                <td>{{remocao.icmsCobrancaIndevidaCorrigida | currency}}</td>
                
                              </tr>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                    
                  
                  
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <div class=" col-lg-6">
       
      </div>
    </div>
  </div>
  